body {
	background-image: url("background.gif");

	float: middle;

	border-style: solid;
	border-color: #FF9E00;
	border-width: 20px;

	margin-left: 20%;
	margin-right: 20%;
	margin-top: 0px;
	margin-bottom: 0px;
}
h4 {
	background-color: #cccccc;
}